/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td
                  {margin: 0;padding: 0;border: 0;outline: 0;
                  font-size: 100%;vertical-align: baseline;
                  background: transparent;}
body              {line-height: 1;}
ol, ul            {list-style: none;}
blockquote, q     {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';	content: none;}
:focus            {outline: 0;}
ins               {text-decoration: none;}
del               {text-decoration: line-through;}
table             {border-collapse: collapse;border-spacing: 0;}

/* FONTS */
@font-face {
    font-family: 'kollektifbold';
    src: url('fonts/kollektif-bold-webfont.woff2') format('woff2'),
         url('fonts/kollektif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kollektifregular';
    src: url('fonts/kollektif-webfont.woff2') format('woff2'),
         url('fonts/kollektif-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* MAIN CSS */

body {
  font-family: 'kollektifregular';
  font-size: 16px;
  max-width: 400px;
  margin:0 auto;
  padding: 5px 10px;
}

h1 {
  font-family: 'kollektifbold';
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1.9px;
  line-height: 1;
  margin: 15px auto;
}

h2 {
  font-family: 'kollektifregular';
  font-size: 1.3em;
  letter-spacing: 1.5px;
  font-weight: 100;
  line-height: 1.3;
  padding-top: 10px;
}

h3 {
  font-family: 'kollektifregular';
  font-size: 1.2em;
  letter-spacing: 1.5px;
  font-weight: 200;
  line-height: 1.3;
}

p {
  font-family: 'kollektifregular';
  font-size: 1.2em;
  line-height: 1.4;
}

li {
  font-family: 'kollektifregular';
  font-size: 1em;
  line-height: 1.2;
}

p + p {
  margin-top: 8px;
}

p.date {
  color: #a9a9a9;
}

p.toplink a {
  color: #000000;
  text-decoration: none;
}

button {
  font-family: 'kollektifregular';
}

hr {
  border: none;
  background-color: #f0f0f0;
  /* color: #f5f5f5; */
  height: 7px;
}

.back-arrow a {
  text-decoration: none;
  float: left;
}

.navigate-arrows {
  display: inline;
}

.navigate-arrows img {
  max-height: 50px;
}

.date {
	float: left;
}

.toplink {
	float: right;
}

.promologo {
  max-width: 200px;
}

.editorspick {
  background: #000;
  text-align: center;
  padding-top: 6px;
  color: #fff;
}

.chester {
  max-width: 40px;
  position: relative;
  top: 2px;
  left: 5px;
}

.chester-mini {
  max-width: 20px;
  position: relative;
  top: 2px;
  left: 5px;
}

.chester-right {
  max-width: 40px;
  position: relative;
  top: 2px;
  left: 5px;
  float: right;
}

.front-page-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:10px;
  /* width: 100%; */
  max-height: 400px;
}

.yes {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  border: 1.5px solid #000;
  background-color: #000;
  /* display: inline-block; */
  width: 25%;
  /* text-align: center; */
  font-size: 1em;
  padding: 7px 0;
}

.yes:hover {
  background-color: #fff;
  border: 2px solid #5271ff;
  color: #000;
}

.no {
  margin-left: auto;
  margin-right: auto;
  color: #000;
  border: 1.5px solid #000;
  background-color: #fff;
  /* display: inline-block; */
  width: 25%;
  /* text-align: center; */
  font-size: 1em;
  padding: 7px 0;
}

.no:hover {
  background-color: #fff;
  border: 2px solid #ff5757;
  color: #000;
}

.contact {
  margin: 10px auto;
}

.contact-link {
  text-decoration: none;
  color: #5271ff;
}

.purchase-buttons {
  margin-bottom: 10px;
}

.add-to-cart {
  margin: 5px auto;
  color: #fff;
  border: none;
  background-color: #5271ff;
  /* display: inline-block; */
  width: 50%;
  /* text-align: center; */
  font-size: 1em;
  padding: 7px 0;
  border: 1px solid black;
}

.add-to-cart:hover {
  background-color: #fff;
  border: 2px solid #5271ff;
  color: #000;
}

.view-cart {
  margin: auto;
  color: #000;
  border: none;
  background-color: #d3d3d3;
  /* display: inline-block; */
  width: 50%;
  /* text-align: center; */
  font-size: 1em;
  padding: 7px 0;
  border: 1px solid black;
}

.view-cart:hover {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
}

/* .view-cart {
  margin: 5px auto 15px;
}

.view-cart a {
  color: #ff5757;
} */

.editorbtn {
  padding-top: 15px;
  text-align: center;
  /* background-color: #ffff00; */
}

.editorbtn a {
  text-decoration: none;
}

.blue {
  border: none;
  background-color: #5271ff;
  height: 3px;
  width: 43%;
  float: left;
  margin-top: 1px;
}

.nostylelink {
  color: #000;
  text-decoration: none;
}

.nostylelink:hover {
  color: #ff5757;
}

.signup {
  padding-top: 10px;
  padding-bottom: 35px;
}

.signup p:hover {
  color: #5271ff;
}

.signup hr:hover {
  background-color: #ffff00;
}

.signup:after {
  content: "";
  display: table;
  clear: both;
}

.collection {
  padding-top: 25px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 200px;
}

.rotatedtext {
  position: relative;
  transform: rotate(-45deg);
  left: 50px;
  top: 20px;
}

.rotatedtext p {
  font-size: 1.3em;
  color: #000;
  display:inline-block;
  text-decoration:none;
}

.rotatedtext p:hover {
  color: #5271ff;
  font-family: 'kollektifbold';
}

.rotatedimage {
  position: absolute;
  max-width: 50%;
  transform: rotate(45deg);
}

.mini-image {
  max-height: 100px;
}

.column {
  float: left;
  width: 50%;
}

.four-column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.collection-section {
  padding: 10px 0;
}

.collection1 {
  border-left: 2px solid #5271ff;
  padding: 5px;
  margin: 5px;
}

.collection2 {
  border-left: 2px solid #ff5757;
  padding: 5px;
  margin: 5px;
}

span.arrows {
  color: #ff5757;
  font-weight: 1000;
}

span.arrows:hover {
  color: #5271ff;
}

.footer {
  background-color: #d3d3d3;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  text-align: center;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: .8em;
}

.footer ul li {
  display: inline;
  color: #000;
}

.footer ul li a {
  text-decoration: none;
  color: #000;
  line-height: 1.5;
}

.inventory{
  text-align: center;
  padding-top: 10px;
}

.productpage {
  text-align: center;
}

.productpage img {
  max-width: 400px;
}

.brand {
  color: #d3d3d3;
  font-size: 1.2em;
}

.productspecs {
  margin: auto;
  width: 75%;
  padding-top:15px;
  padding-bottom: 15px;
  line-height: 1.2;
  text-align: center;
}

.productspecs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: .8em;
}

.productspecs ul li {
  display: inline;
  color: #000;
  font-size: 1.1em;
}

.options {
  letter-spacing: 1.2;
  font-family: 'kollektifbold';
  padding-bottom: 10px;
}

.variant {
  float: left;
  width: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.variant img {
  max-width: 100px;
}

.variant:after {
  content: "";
  display: table;
  clear: both;
}

.description {
  text-align: left;
  font-size: 1em;
  display: inline-block;
  padding: 15px 25px;
  line-height: 1.2;
}

.price {
  text-align: center;
  font-size: 2em;
  margin: 15px auto;
}

.benefits {
  line-height: 1.2;
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.benefits p {
  font-size: 1.5em;
}

.benefits ul {
  text-align: left;
  list-style-image: url('../assets/icons/check.png');
  padding-top: 10px;
  padding-left: 30px;
}

.benefits li {
  padding-bottom: 5px;
}

#topnavline {
  padding-top: 15px;
}

/* Image grid homepage */

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


/*
html{font-size:120%;}
@media(min-width:900px){html{font-size: 100%}}
*/
