@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td
                  {margin: 0;padding: 0;border: 0;outline: 0;
                  font-size: 100%;vertical-align: baseline;
                  background: transparent;}
body              {line-height: 1;}
ol, ul            {list-style: none;}
blockquote, q     {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';	content: none;}
:focus            {outline: 0;}
ins               {text-decoration: none;}
del               {text-decoration: line-through;}
table             {border-collapse: collapse;border-spacing: 0;}

/* FONTS */

@font-face {
    font-family: 'kollektifregular';
    src: url('fonts/kollektif-webfont.woff2') format('woff2'),
         url('fonts/kollektif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* MAIN CSS */

body {
  font-family: 'kollektifregular';
  font-size: 16px;
  max-width: 500px;
  margin:0 auto;
  padding: 5px 10px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
}

li {
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 1.9px;
  line-height: 1;
  margin: 20px auto 5px 0;
  text-align: justify;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1.5px;
  font-weight: 100;
  line-height: 1.3;
  padding-bottom: 5px;
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
  letter-spacing: 1.5px;
  font-weight: 900;
  line-height: 1.3;
}

sup {font-size:xx-small; vertical-align:top;}

hr {
  border: none;
  background-color: #f0f0f0;
  height: 7px;
}

td {
  padding:0 20px 0 0;
}

.footer {
  background-color: #d3d3d3;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  text-align: center;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: .8em;
}

.footer ul li {
  display: inline;
  color: #000;
}

.brand-banner {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brand-banner img {
  max-width: 100%;
}

.contactblock {
  font-size: 1em;
  float: left;
  position: relative;
  margin: 10px auto;
  border-left: 0 solid #000;
}

.member-banner {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.member-banner img {
  max-width: 50%;
}

.header {
  margin: 0 auto;
}

.navlinks {
  display: inline-block;
}

/* Image grid homepage */

#photos {
  border-top: 2px solid #000;
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
